.login-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;

    h1 {
        margin-bottom: 10px;
    }

    input {
        width: 200px;
        height: 2rem;
        padding: 3px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    button {
        width: 100px;
        padding: 0.5rem;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .signup-link-text {
        text-decoration: underline;
    }
} 